* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    background-color: aqua;
}

.titulo {
    background-color: rgb(236, 16, 236);
    width: 190px;
    display: inline-block;
    justify-content: center;}

h1 {
    color: pink;
}

h2 {
    text-align: center;
    font-size: 43px;
}

.primeira {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.esquerda {
    width: 170px;
    height: 30px;
    border: 2px solid;
    margin-right: 8px;
    background-color: white;
}

.centro {
    width: 170px;
    height: 30px;
    border: 2px solid;
    background-color: white;
}

.direita {
    width: 170px;
    height: 30px;
    border: 2px solid;
    margin-left: 8px;
    background-color: white;
}

.retangulo1 {
    width: 526px;
    height: 100px;
    background-color: white;
    border: 2px solid;
}

.esquerda2 {
    width: 258px;
    height: 100px;
    background-color: white;
    border: 2px solid;
}

.direita2 {
    width: 258px;
    height: 100px;
    background-color: white;
    border: 2px solid;
    margin-left: 8px;
}

.comentario {
    width: 526px;
    height: 300px;
    background-color: white;
    border: 2px solid;
}

.rodape {
    width: 526px;
    height: 150px;
    background-color: white;
    border: 2px solid;
}