* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    background-color: aqua;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 43px;
}

.primeira {
    display: inline-flex;
    margin-top: 10px;
}

.esquerda {
    width: 120px;
    height: 30px;
    border: 2px solid;
    margin-right: 8px;
    background-color: white;
}

.centro {
    width: 120px;
    height: 30px;
    border: 2px solid;
    background-color: white;
}

.direita {
    width: 120px;
    height: 30px;
    border: 2px solid;
    margin-left: 8px;
    background-color: white;
}